# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc

# Poetry
venv/
.venv/
.poetry/
poetry.lock

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
*.swp
.DS_Store

.env